<div class="loginMessage">
<p>Welcome to Ex Libris - your reading room for the web!</p>
</div>

<div class="loginForm">
<%= form_tag '/login' do %>
	<p class="formParagraph"><%= text_field_tag :email, nil, class: 'form-text-field', placeholder: 'Email' %></p>
	<br>
	<p class="formParagraph"><%= password_field_tag :password, nil, class: 'form-text-field', placeholder: 'Password' %></p>
	<br>
	<p class="formParagraph"><%= submit_tag "Login" %></p>
<% end %>
</div>

<div class="createMessage">
<p>If you don't have an account, <%= link_to 'create one here', '/newuser' %>.</p>
</div>