<div class="loginMessage">
<p>Create your account here:</p>
</div>

<div class="loginForm">
<%= form_for @user, url: '/newuser', method: 'post' do |f| %>

	<p><%= f.text_field :first_name, class: 'form-text-field', placeholder: 'First Name' %> <%= f.text_field :last_name, class: 'form-text-field', placeholder: 'Last Name' %></p>
	<br>
	<p><%= f.text_field :email, class: 'form-text-field', placeholder: 'Email' %></p>
	<br>
	<p><%= f.password_field :password, class: 'form-text-field', placeholder: 'Password' %></p>
	<br>
	<p><%= f.password_field :password_confirmation, class: 'form-text-field', placeholder: 'Confirm Password' %></p>
	<br>
	<p><%= f.submit 'Create your account' %></p>

<% end %>
</div>