<!DOCTYPE html>
<html>
<head>
  <title>Ex Libris</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navDiv">
<nav id="navBar">
  <% if current_user %>
    <%= link_to "Log Out", logout_path, class: 'navLink'%>
  <% else %>
    <%= link_to 'Login', login_path, class: 'navLink' %>
  <% end %>
</nav>
</div>

<% flash.each do |key, value| %>
	<div class='<%= key %>'>
		<p><%= value %></p>
	</div>
<% end %>

<%= yield %>

</body>
</html>