<div id="urlDiv">From <%= link_to @article.domain, @article.url %></div>

<div id="titleDiv"><%= raw @article.title if @article.title != nil %></div>

<div id="authorDiv"><%= "by #{raw @article.author}" if @article.author != nil %></div>

<div id="dateDiv"><%= "Published on #{raw @article.date_published}" if @article.date_published != nil %></div>

<div id="contentDiv"><%= raw @article.content %></div>

<div id="saveDiv">

<%= form_tag('/save', method: 'post', id: 'saveForm') do %>
    <%= hidden_field_tag 'url', @article.url %>
    <%= button_tag(name: nil, type: 'submit', id: 'saveButton') do %>Save this article<% end %>
<% end %>

<%= form_tag('/delete', method: 'post', id: 'deleteForm') do %>
    <%= hidden_field_tag 'url', @article.url %>
    <%= button_tag(name: nil, type: 'submit', id: 'deleteButton') do %>Delete this article<% end %>
<% end %>

</div>