<div id="urlDiv">From <%= link_to @response['domain'], @response['url'] %></div>

<div id="titleDiv"><%= raw @response['title'] if @response['title'] != nil %></div>

<div id="authorDiv"><%= "by #{raw @response['author']}" if @response['author'] != nil %></div>

<div id="dateDiv"><%= "Published on #{raw @response['date_published']}" if @response['date_published'] != nil %></div>

<div id="contentDiv"><%= raw @response['content'] %></div>

<%= form_tag('/save', method: 'post', id: 'saveForm') do %>
	<%= button_tag(name: nil, type: 'submit', onclick: 'post({content: articleContent})') do %>Save this article<% end %>
<% end %>

<script type="text/javascript">

function post(params){

    // post(path, params, method) {
    // method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    // var form = document.createElement("form");
    // form.setAttribute("method", method);
    // form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            document.getElementById("saveForm").appendChild(hiddenField);
         }
    }
}

// Example:
// post('/contact', {name: 'Johnny Bravo'});

var articleContent = document.getElementById("contentDiv").innerHTML;

// var title = document.getElementById("titleDiv");

// function saveArticle() {
//  window.open("http://localhost:3000/save/")
// }

</script>